[project]
	description = Flume JSON Interceptor Plugin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wojciech Krawczyk (wojtekk)
[access "refs/for/refs/*"]
	read = group user/Wojciech Krawczyk (wojtekk)
	push = group user/Wojciech Krawczyk (wojtekk)
	label-Code-Review = -2..+2 group user/Wojciech Krawczyk (wojtekk)
	label-Verified = -1..+1 group user/Wojciech Krawczyk (wojtekk)
	rebase = group user/Wojciech Krawczyk (wojtekk)
	removeReviewer = group user/Wojciech Krawczyk (wojtekk)
	submit = group user/Wojciech Krawczyk (wojtekk)
[access "refs/heads/*"]
	read = group user/Wojciech Krawczyk (wojtekk)
	create = group user/Wojciech Krawczyk (wojtekk)
	push = +force group user/Wojciech Krawczyk (wojtekk)
	pushMerge = group user/Wojciech Krawczyk (wojtekk)
[access "refs/tags/*"]
	push = +force group user/Wojciech Krawczyk (wojtekk)
	pushTag = group user/Wojciech Krawczyk (wojtekk)
	pushSignedTag = group user/Wojciech Krawczyk (wojtekk)
